# VSCode
.vscode
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# DS_Store
**/.DS_Store
.DS_Store

# dbt
target/
.user.yml
packages.yml
package-lock.yml

# Environments
.env
.venv
*env/
*venv/
config/

# Linter
.ruff_cache/

# Testing
.pytest_cache/
